body, html{
    height:100%
}
html{
    color:white;
    background: linear-gradient(0.125turn, green, black,blue)
}
.header{
    font-family: cursive;

}
#dog{
    border: 3px dashed rgb(236, 10, 21);
}